*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    padding: 0 0 5em;
    margin: 0;
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.25em;
    line-height: 1.5em;
}

.t-header {
    background: #333;

    &_link {
        display: block;
        padding: 1em;
        font-family: monospace;
        font-size: 1.25em;
        text-align: center;
        text-transform: lowercase;
        text-decoration: none;
        color: white;

        &:focus {
            text-decoration: underline;
        }
    }
}

.t-timestamp {
    display: flex;
    justify-content: space-around;
    margin: 1.3333em;

    &_date {
        padding: 0 1em 0 0;
    }

    &_time {
        padding: 0 1em;

        &:before {
            content: '/';
            position: relative;
            left: -0.5em;
        }
    }
}

.t-location {
    position: relative;
    margin: 1em 0;

    &_header {
        position: relative;
        padding: 1em;
        background: #f7f7f7;
    }

    &_toggle {
        position: absolute;
        top: calc(50% - 4px);
        right: 0.25em;
        border: 0;
        background: transparent;
        font-family: inherit;
        font-size: 2em;
        transform: translateY(-50%);

        &:focus {
            color: rgb(51, 51, 255);
            outline: none;
        }
    }

    &.is-collapsed {

        .t-status {
            display: block;
            position: absolute;
            top: 0;
            right: 2em;
            
            &_temperature {
                display: inline-block;
                font-size: 1.5rem;

                &:after {
                    position: static;
                    font-size: inherit;
                }
            }

            &_humidity {
                display: inline-block;
                font-size: 1.25rem;
            }

            &_updated {
                display: none;
            }

            &_graph {
                display: none;
            }
        }
    }
}

.t-status {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;

    &_temperature {
        flex-basis: 66.67%;
        position: relative;
        font-size: 4em;
        font-weight: bold;
        line-height: 1;

        &:after {
            content: '/';
            position: absolute;
            top: 0em;
            right: 0.5em;
            font-size: 0.5em;
            font-weight: normal;
        }
    }

    &_humidity {
        flex-basis: 33.33%;
        font-size: 2em;
        line-height: 1;
    }

    &_updated {
        font-size: 0.7em;
        opacity: 0.75;
    }

    &_graph {
        position: relative;
        width: calc(100vw - 2em);
        height: 10em;
        margin: 1em 0;
        border-left: 0.25em solid rgba(0, 0, 0, 0.1);
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 3em;
    padding: 1em;
    background: #f7f7f7;
    font-size: 0.75em;
    text-transform: lowercase;
    text-align: center;
    color: #888;
}